<template>
  <div class="homePage">
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs } from 'vue';

export default defineComponent({
  name: "homePage",
  setup(){
    const state = reactive({

    });

    return {
      ...toRefs(state),
    }
  }
})
</script>
