<template>
    <div class="home">
        主页
    </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs } from 'vue';

export default defineComponent({
    name: "home",
    setup() {
        const state = reactive({

        });

        return {
            ...toRefs(state),
        };
    },
})
</script>

<style lang="scss" scoped>
.home{

}
</style>
