<template>
    <div class="login">
        登录页
    </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs } from 'vue';

export default defineComponent({
    name: "login",
    setup() {
        const state = reactive({

        });

        return {
            ...toRefs(state),
        };
    },
})
</script>

<style lang="scss" scoped>
.login{
    
}
</style>
